body{
    font-family: Roboto;
}

.header_logo_white {
    display: none;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;  
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0px;
}

.text_margin {
    margin-left: 34px;
    margin-right: 33px;    
}

.text_flow {
    margin-bottom: 23px;
    text-align: left;
    width: 222px;
}

.top {
    background: #E0E1E2;
    padding-bottom: 48px;
}

.navbar {
    padding-top: 25px;
}

.navbar-light .navbar-toggler {
    position: absolute;
    right: 25px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    justify-content: center;
}

.top_img {
    margin-top: 94px;
    height: 230px;
    background-image: url(img/MX-Master-mobil.svg);
    margin-bottom: 67px;
    background-repeat: no-repeat;
    background-position: center;
}

.top_text-margin {
    margin-left: 59px;
    margin-right: 59px;
}

.top_svg {
    width: 42px;
    height: 22px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.top_arrow {
    margin-top: 40px;
}

.bluetooth {
    background: #EDEDED;
    padding-top: 42px;
    padding-bottom: 18px;
}

.bluetooth_icon {
    margin-bottom: 27px;
}

.bluetooth_heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 31px;
  }   

.bluetooth_img {
    height: 288px;
    background-image: url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    padding-bottom: 18px;
}

.info {
    padding-top: 70px;
    padding-bottom: 63px;
}

.info_item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    padding-left: 17px;
    padding-right: 17px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_content {
    margin-top: 30px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    gap: 6px;
   }

.info_heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.info_text {
    margin-left: 67px;
    margin-right: 61px;
}

.info_item-heading {
    margin-bottom: 5px;
}

.carousel {
    margin-bottom: 100px;
}

.flow {
    padding-top: 70px;
    padding-bottom: 220px;
    background: #EDEDED;
    background-image: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.flow_ol {
    margin-top: 36px;
    padding-left: 54px;
}

.settings {
    padding-top: 70px;
    background-color: #EDEDED;
}

.settings_slider-img {
    display: none;
}

.settings_slider {
    margin:35px 22px 95px 23px ;
}

.settings_content {
    background-color: #C4C4C4;
    padding: 23px 22px 26px 29px;
}

.text_settings {
    padding-top: 20px;
    margin-left: 5px;
    margin-right: 11px;
    color: #FFFFFF;;
}

.mouse_text {
    padding-top: 70px;
    padding-bottom: 20px;
}

.mouse_img {
    height: 310px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.mouse_img_1 {
    background-image: url(img/image\ 1.jpg);
}

.mouse_img_2 {
    background-image: url(img/image\ 2.jpg);
}

.footer {
    background-color: #2F3132;
    height: 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
    padding-top: 22px;
}

@media (min-width: 768px) {
    .top {
      padding-bottom: 80px;
    }  

    .navbar {
        padding-top: 54px;
    }
    
    .header_logo {
        width: 240px;
    }

    .top_img {
        margin-top: 159px;
        height: 514px;
        margin-bottom: 80px;
        background-image: url(img/MX-Master-plan.svg);
    }

    .heading {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 30px;
    }

    .text {
        font-size: 24px;
        line-height: 28px;
    }

    .text_margin {
        margin-left: 77px;
        margin-right: 77px;    
    }
    
    .top_text-margin {
        margin-left: 159px;
        margin-right: 159px;
    }

    .top_arrow {
        margin-top: 76px;
    }

    .top_svg {
        width: 61px;
        height: 33px;
    }

    .bluetooth {
        padding-top: 80px;
        padding-bottom: 3px;
    }

    .bluetooth_heading {
        font-size: 150px;
        line-height: 176px;
    }

    .bluetooth_img {
        height: 597px;
        margin-left: 39px;
        margin-right: 19px;
    }

    .info_content {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }

    .info_item-heading {
        margin-bottom: 5px;
    }

    .info_item {
        min-height: 170px;
    }

    .info_heading {
        font-size: 24px;
        line-height: 28px; 
    }

    .flow {
        padding-bottom: 498px;
        padding-left: 64px;
        padding-right: 65px;
    }

    .text_flow-p {
        margin-left: 0px;
        margin-right: 0px;
    }

    .flow_ol {
        display: flex;
        list-style-position: inside;
        padding-left: 0px;
    }
    
    .text_flow {
        width: auto;
        padding: 8px 21px 4px 28px;
        border-left: 1px solid #494949;
        font-size: 20px;
        line-height: 23px;
    }

    .text_flow:first-child {
        border-left: none;
        padding-left: 0;
        }

    .text_flow:last-child {
        padding-right: 0;
    }

    .settings {
        padding-bottom: 70px;
    }
    
    .settings_content {
        margin-left: 64px;
        margin-right: 65px;
    }
    .settings_slider {
        margin: 54px 198px 150px;
    }
    .heading_settings {
        margin-left: 64px;
        margin-right: 65px;
    }

    .text_settings-p {
        margin-left: 64px;
        margin-right: 65px;
    }

    .settings_icons {
        vertical-align: middle;
        display: flex;
        text-align: center;
        margin: auto;
        width: 512px;
        height: 35px;
    }
    .text_settings {
        font-size: 20px;
        line-height: 23px;
    }
    
    .text_mouse {
        margin-left: 0;
        margin-right: 0px;
    }

    .mouse_text {
        padding-left: 67px;
        padding-right: 64px;
        padding-bottom: 50px;
    }

    .mouse_img {
        height: 549px;
    }

    .mouse_img_1 {
        background-image: url(img/High_Resolution_JPG-MX\ Master\ Lifestyle\ 2602\ SpaceGrey\ for\ MAC\ plan.svg);
    }

    .mouse_img_2 {
        background-image: url(img/Plan-2.svg);
    }

    .footer {
        height: 150px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 47px;
    }
}

@media (min-width: 1024px) {
    .center {
        padding-left: calc(50% - 580px);
        padding-right: calc(50% - 580px);
    }

    .header {
        background-color: #2F3132;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .heading {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 35px;
    }

    .text {
        font-size: 20px;
        line-height: 23px;
    }

    .header_logo_white {
        display: block;
        width: 150px;
    }

    .header_logo_black {
        display: none;
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        border-bottom: 1px solid #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }

    .nav-item {
        padding-left: 21px;
        padding-right: 21px;
        border-right: 1px solid#494949;
    } 

    .nav-item:first-child {
        padding-left: 0;
    }

    .nav-item:last-child {
        padding-right: 0;
        border: none;
    }

    .menu-desctop {
        margin-left: 147px;
    }

    .top_img {
        margin-top: 20px;
        height: 671px;
        padding-top: 80px;
        margin-bottom: 8px;
        background-image: url(img/MX-Master-desctop.png);
    }

    .top_arrow {
        margin-top: 49px;
    }

    .bluetooth_img {
        height: 427px;
        background: url(img/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png) no-repeat 0 119px, url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1\ \(3\).png) no-repeat right 119px;
        margin-left: 0;
        margin-right: 0;
    }

    .center_bluetooth {
        padding-left: calc(50% - 622px);
        padding-right: calc(50% - 622px);
    }

    .bluetooth {
        padding-bottom: 80px;
    }

    .bluetooth_heading {
        font-size: 96px;
        line-height: 112px;
        display: flex;
        justify-content: center;
    }

    .bluetooth_heading_day-mini {
        padding-top: 45px;
    }

    .bluetooth_heading_day {
        font-size: 300px;
        line-height: 352px;
        padding-left: 74px;
    }

    .info {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info_text {
        width: 765px;
        margin: auto;
    }

    .info_item {
        min-height: 140px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .info_item-heading {
        margin-bottom: 5px;
    }

    .info_slider {
        padding-left: calc(50% - 640px);
        padding-right: calc(50% - 640px);
    }

    .text_info {
        width: 765px;
        margin: auto;
    }

    .flow {
        padding-bottom: 870px;
    }

    .flow_center {
        padding-left: calc(50% - 479px);
        padding-right: calc(50% - 479px);
    }

    .flow_ol {
        margin-left: 15px;
    }

    .settings {
        padding-bottom: 100px;
    }

    .settings_slider {
        display: none;
    }

    .settings_slider-img {
        display: flex;
        justify-content: center;
        margin-top: 71px;
    }

    .settings_content {
        width: 749px;
        margin: auto;
    }

    .text_settings-p {
        width: 950px;
        margin: auto;
    }

    .mouse {
        display: flex;
        flex-wrap: wrap;
    }

    .mouse_center {
        padding-left: calc(50% - 655px);
        padding-right: calc(50% - 655px);
    }

    .mouse_item {
        height: 557px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mouse_text_1 {
        padding-right: 217px;
    }

    .mouse_text_1 .heading {
        text-align: left;
    }

    .mouse_text_1 .text {
        text-align: left;
    }

    .mouse_text_2 {
        padding-left: 217px;
    }

    .mouse_text_2 .heading {
        text-align: right;
    }

    .mouse_text_2 .text {
        text-align: right;
    }

    .mouse_img_1 {
        order: 0;
        background-image: url(img/High_Resolution_JPG-MX\ Master\ Lifestyle\ 2602\ SpaceGrey\ for\ MAC\ 2.png);
    }

    .mouse_text_1 {
        order: 1;
    }

    .mouse_img_2 {
        order: 3;
        background-image: url(img/image\ 2\ \(1\).png);
    }

    .mouse_text_2 {
        order: 2;
    }


}